# Generated Documentation
doc/html

# Folders gnerated on build
bin
lib
include
build*
gmon\.out
ext

# Manual build files
manual/SerenityUserManual.aux
manual/SerenityUserManual.toc
manual/SerenityUserManual.tex.backup
manual/SerenityUserManual.run.xml
manual/SerenityUserManual.pdf
manual/SerenityUserManual.out
manual/SerenityUserManual.log
manual/SerenityUserManual.bcf
manual/tmp
manual/*xdv
manual/*synctex.gz
manual/*fls
manual/*fdb_latexmk
manual/*blg
manual/*bbl
manual/*blx.bib
manual/*.bbx
manual/*.cbx

# Auto generated source files
serenity.sh
src/tasks/DummyTask.cpp
src/tasks/DummyTask.h
test.input
qcserenity/serenipy.so

# Output files
*.input
*.inp
*.out
*.err
*.cube
*.swp
temp

# IDE stuff
.clang-format
.vscode/
src/.vscode/
.pydevproject 
.cproject
.project
.settings
.launchConfig
.kdev4/
*.kdev4
codetemplates.xml
eclipseFormatProfile.xml
*eclipse*

# CIbuildwheel stuff
wheelhouse/
dist/
**/__pycache__
